
<!-- Modal Structure
<div id="demoModal" class="modal">
    <div class="modal-content">-->
      <div class="row">
       <form class="col s12">
         <div class="row">
           <div class="input-field col s6">
             <input id="email" type="email" class="validate" ng-model="Email">
             <label for="email" data-error="wrong" data-success="right">Email</label>
           </div>
           <div class="input-field col s6">
             <input id="email" type="password" class="validate" ng-model="Password">
             <label for="email" data-error="wrong" data-success="right">Pass</label>
           </div>
         </div>
       </form>
      </div>
    <!--</div>-->
    <div class="modal-footer">
        <a ng-click="testLogin()" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
<!--</div>-->
